{
    "moderator_channel": "moderation-logs",
    "support_channel": "support",
    "rules_channel": "rules",
    "non_support_channels": [
        "general"
    ],
    "bad_words": [
        "bum",
        "hole"
    ],
    "client_id": "",
    "client_secret": "",
    "client_token": ""
}
